@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    font-family: "Voces", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    align-items: start;
    flex-flow: column;
    background: #6b0c8e;
    justify-content: flex-start;
}

main {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: flex-start;
}

.column {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.title {
    font-size: 50px;
    color: white;
}

#nav-menu {
    gap: 8px;
    background-color: #ffffff33;
    width: 100%;
    overflow-x: auto;
    padding: 4px;
}

#nav-menu::-webkit-scrollbar {
    visibility: hidden;
    height: 0;
}


#selected {
    background-color: #00000044;
    text-shadow: 0px 0px 4px white;
}

.nav-element {
    padding: 6px;
    align-self: center;
    width: 120px;
    font-size: 18px;
    border: 3px white solid;
    background-color: #ffffff22;
    color: white;
    white-space: nowrap;
    border-radius: 12px;
    text-align: center;
    transition-duration: 0.2s;
    text-decoration: none;
}

.nav-element:hover {
    background-color: #00000044;
    text-shadow: 0px 0px 4px white;
}
